.container{
    margin-left: 30%;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 20px;
}
  
.circle.clicked {
    border: 3px solid #00bfff;
}

img{
    display: block;
}

.circle-cotainer{
    padding-left: 30px;
}


